body {
    font-family: 'Lato', sans-serif;
    background-color: #FAFAFA;
    color: #2C2A2A;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer {
    background-color: #252525;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  button {
    background-color: #F9ED32;
    color: #252525;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  